.navbar, .navbarLight {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #313030;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: 1200px;
    padding-right: 10px;
  }

.navbarLight {
  background-color: #E2DFD2;
}

  .contentWrapper {
    margin-top: 50px;
    padding: 20px;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logoText, .logoTextLight {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .logoTextLight {
    color: black;
  }
  
  .navLinkContainer {
    display: flex;
    margin-left: auto;
  }
  
  .navLink, .active {
    margin-left: 20px;
    text-decoration: none;
    color: #fffcfc;
    font-weight: bold;
  }

  .active {
    border-bottom: 2px solid #927bad;
  }
  
  .burger {
    margin-left: 15px;
    align-self: center;
  }
  
